@import 'variables';

.promotion {
	box-sizing: border-box;
	height: 34px;
	display: flex;
	width: 100%;
	padding: 5px 15px;
	line-height: 1.45;
	background: $orange;
	color: white;
	text-decoration: none;
	overflow: hidden;

	.name {
		margin-right: 15px;
		padding: 0 8px;
		background: $invisible-black;
		border-radius: 3px;
		letter-spacing: 1px;
		font-size: 11px;
		line-height: 24px;
		text-transform: uppercase;
	}

	.description.mobile {
		font-size: 15px;
		text-shadow: 0 1px 0 $invisible-black;
	}
}

.primary-nav {
	display: flex;
	flex-direction: column;
	height: 110px;
	background: white;

	.main-content.mobile {
		display: flex;
		align-items: center;
		height: 56px;

		.logo {
			margin-right: auto;
			width: 180px;
			height: 56px;
			background: url('../img/logo-mobile.png');
		}

		.others-container.mobile {
			height: 100%;
			display: flex;

			button {
				display: block;
				width: 45px;
				height: 100%;
				margin: 0;
				background: white;
				border-left: 0.3px solid $invisible-black;
			}
		}
	}

	.bottom-divider {
		height: 5px;
		background: url('../img/divider.png') repeat-x;
		z-index: 2;
	}
}

.nav-list {
	box-sizing: border-box;
	height: 49px;
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-left: 15px;
	list-style: none;
	border-top: 0.3px solid $invisible-black;

	.nav-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 8px;
		height: 100%;
		font-size: 14px;
		color: $black;
		text-decoration: none;
		font-weight: 400;

		.icon.mobile {
			color: $invisible-black;
			font-size: 8px;
		}
	}
}

.header {
	position: relative;
	top: -5px;
	margin: 0;
	margin-bottom: 50px;
	background: rgba(0,0,0,0.04);

	.tie-slider {
		margin-bottom: 55px;
	}

	figure {
		margin: 0 18px;

		img {
			width: 75px !important;
			height: 155px;
			margin-bottom: 15px;
		}

		figcaption {
			text-align: center;
			tansition: all 0.2s ease;
		}
	}

	.headline {
		display: grid;
		grid-template-columns: 55px 1fr 55px;

		h1 {
			margin: 0;
			margin-bottom: 45px;
			text-align: center;
			font-size: 26px;
			line-height: 28px;
			font-weight: 400;
		}

		button {
			width: 40px;
			height: 60px;
			background: $light-grey;
			transition: all 0.3s ease;

			&.owl-prev {
				border-radius: 0 5px 5px 0;
			}

			&.owl-next {
				border-radius: 5px 0 0 5px;
				margin-left: auto;
			}

			img {
				height: 27px;
			}
		}
	}
}
