@import 'variables';
.promotion {
	.description:not(.mobile) { display: none; }

	@media screen and (min-width: 768px) {
		padding: 7px 30px;

		.description:not(.mobile) {
			display: block;
			margin-right: 1.3em;
		};
		.description.mobile { display: none; }
	}
}

.nav-primary {
	.layout {
		&:not(.mobile) { display: none; }
		.others-container:not(.mobile) { display: none}

		@media screen and (min-width: 768px) {

			.main-row {
				padding: 12px 30px;

				.logo {
					height: 64px;
					width: 223px;
					background: url('../img/logo-tablet.png');
					background-size: contain;
				}
				.others-container:not(.tablet) { display: none; }
				.others-container.tablet {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					justify-content: space-between;

					.account-container {
						a {
							padding: 5px;
							font-size: 11px;
							letter-spacing: 1px;
							color: #909090;
							text-rendering: optimizeLegibility;
						}
					}

					.info-container {
						display: flex;
						.cart {
							box-sizing: border-box;
							display: flex;
							align-items: center;
							justify-content: space-around;
							min-width: 97px;
							height: 36px;
							margin-right: 14px;
							padding-bottom: 2px;
							border: 1px solid #E0E0E0;
							border-radius: 3px;
							color: #606060;
							font-size: 13px;

							img {
								height: 14px;
								width: 14px;
							}

							.cart-counter {
								position: relative;
								color: white;
								background: #C8C8C8;
								height: 20px;
								width: 20px;
								display: flex;
								justify-content: center;
								align-items: center;
								border-radius: 3px;

								&::before {
									content: '';
									display: block;
									height: 0;
									width: 0;
									border: {
										top: 5px solid transparent;
										bottom: 5px solid transparent;
										right: 5px solid #C8C8C8;
									}
									position: absolute;
									left: -5px;
								}
							}
						}

						.search-container {
							position: relative;
							width: 140px;
							height: 36px;

							input{
								box-sizing: border-box;
								position: absolute;
								top: 4px;
								right: 4px;
								width: 132px;
								padding-left: 30px;
								height: 28px;
								border: 1px solid #D8D8D8;
								box-shadow: $pale-white 0 0 0 4px;
								outline: none;

								&::placeholder {
									color: #D8D8D8;
								}

								&:focus {
									border-color: silver;
								}
							}

							img {
								position: absolute;
								top: 11px;
								left: 11px;
								height: 14px;
								width: 14px;
								z-index: 2;
							}
						}
					}
				}
			}

			.nav-list {
				padding: 14px 18px;

				.nav-item {
					font: {
						size: 26px;
						weight: 200;
					}
					padding: 0 12px;
				}
			}
		}
	}
}
.header {
	.headline {
		h1 {
			@media screen and (min-width: 768px) {
				font-size: 42px;
				line-height: 60px;
				margin-bottom: 50px
			}
		}
		button {
			&.disabled {
				opacity: 0.25;
			}

			&.clicked {
				width: 50px;
				background: $blue;
			}

			&:active {
				img {
					opacity: 0.50;
				}
			}
		}
	}
}

.products-preview {
	@media screen and (min-width: 768px) {
		padding: 0 30px;
		display: flex;
		justify-content: space-between;

		.product {
			width: 32%;
			border: 1px solid $invisible-black;
		}
	}
}

.hook-container {
	@media screen and (min-width: 768px) {
		.hook { font-size: 29px; }
	}
}

.interaction-container {
	input[type="email"]:focus {
		border-color: $blueish-grey;
	}

	@media screen and (min-width: 768px) {
		max-width: 100%;
		padding: 0 30px;
		display: grid;
		grid-template-columns: repeat(2, 46%);
		grid-gap: 8%;
	}
}

footer {
	@media screen and (min-width: 768px) {
		padding: 30px;

		.footer-nav {
			display: flex;

			.footer-item {
				width: 25%;
			}

			.footer-list {
				display: flex;
				flex-direction: column;
			}
		}

		.contact-us {
			max-width: 45%;
			position: relative;

			button {
				position: absolute;
				bottom: 15px;
				right: 15px;
			}
		}

		.copyright {
			display: flex;

			span {
				margin-right: 0.3em;
			}
		}
	}
}
