@import 'variables';

.promotion {
	.description:not(.mobile) {
		display: none;
	}
}

.primary-nav {
	.others-container:not(.mobile) {
		display: none;
	}
}

.nav-list {
	.nav-item:first-child{
		padding-left: 0;
	}

	.nav-item {
		span:not(.icon) {
			margin-top: 4px;
		}
	}
}

.headline {
	button {
		&.disabled {
			opacity: 0.25;
		}

		&:active {
			width: 50px;
			background: $blue;
		}
	}
}

.interaction-container {
	input[type="email"]:focus {
		border-color: $blueish-grey;
	}
}
