// Colors
$orange: #FA6938;
$blue: #33A1FF;
$blueish-grey: #A2AFC0;
$black: #202020;
$pale-white: #F4F4F4;
$light-grey: #D8D8D8;
$translucent-black: rgba(0,0,0,0.4);
$invisible-black: rgba(0,0,0,0.2);

@mixin others-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;

	.account-container {
		a {
			padding: 5px;
			font-size: 11px;
			letter-spacing: 1px;
			color: #909090;
			text-rendering: optimizeLegibility;
		}
	}

	.info-container {
		display: flex;
		.cart {
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: space-around;
			min-width: 97px;
			height: 36px;
			margin-right: 14px;
			padding-bottom: 2px;
			border: 1px solid #E0E0E0;
			border-radius: 3px;
			color: #606060;
			font-size: 13px;

			img {
				height: 14px;
				width: 14px;
			}

			.cart-counter {
				position: relative;
				color: white;
				background: #C8C8C8;
				height: 20px;
				width: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 3px;

				&::before {
					content: '';
					display: block;
					height: 0;
					width: 0;
					border: {
						top: 5px solid transparent;
						bottom: 5px solid transparent;
						right: 5px solid #C8C8C8;
					}
					position: absolute;
					left: -5px;
				}
			}
		}

		.search-container {
			position: relative;
			width: 140px;
			height: 36px;

			input{
				box-sizing: border-box;
				position: absolute;
				top: 4px;
				right: 4px;
				width: 132px;
				padding-left: 30px;
				height: 28px;
				border: 1px solid #D8D8D8;
				box-shadow: $pale-white 0 0 0 4px;
				outline: none;

				&::placeholder {
					color: #D8D8D8;
				}

				&:focus {
					border-color: silver;
				}
			}

			img {
				position: absolute;
				top: 11px;
				left: 11px;
				height: 14px;
				width: 14px;
				z-index: 2;
			}
		}
	}
}
